.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 20px;
}
.dialog a.active {
  color: rgb(73, 216, 204);
}
.dialog a {
  text-decoration: none;
  color: white;
}
.dialog img {
  width: 40%;
  vertical-align: middle;
  padding-right: 10px;
}
.dialog {
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.messages {
  padding: 20px;
}
.message {
  text-align: right;
  display: table;
  margin-bottom: 20px;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
  padding: 0 10px 0 10px;
  border-radius: 15px;
}
